<ul>
  <li>
    <%= link_to 'Reload by turbolinks', root_path %>
  </li>
  <li>
    <%= link_to 'Click event', '#', class: 'clickable' %>
  </li>
  <li>
    <%= link_to 'Ajax call', ajax_path, class: 'ajax', remote: true %>
  </li>
</ul>